<tr class="table-content-tr text-xs" id="<%= dom_id(user) %>">
  <td class="ps-1" style="width: 1%"><%= user.id %></td>

  <td class="ps-1" style="width: 20%"><%= user.first_name %></td>

  <td class="ps-1" style="width: 20%"><%= user.last_name %></td>
  <td class="ps-1" style="width: 20%"><%= user.email %></td>
  <td class="ps-1" style="width: 20%"><%= user.role.titleize %></td>
  <td class="ps-1 pt-4" style="width: 19%">
    <%= render Shared::Buttons::DropdownComponent.new(
      options: UserDecorator.table_dropdown_options(user)
    ) %>
  </td>
</tr>