<%= form_with model: @user, url: profile_path, method: :put do |form| %>
  <div class="row mt-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">
              <h6 class="mb-0">Profile Information</h6>
            </div>
            <div class="col-md-6 text-end">
              <div class="btn-group " role="group" aria-label="Basic example">
                <%= link_to 'Cancel', profile_path(@user), class: 'btn btn-danger' %>
                <%= form.submit 'Save', class: 'btn btn-success' %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= turbo_frame_tag 'form-errors' %>

          <ul class="list-group">
            <li class="list-group-item border-0 ps-0 pt-0 text-sm">
              <strong class="text-dark">First Name:</strong> &nbsp;
              <%= form.text_field :first_name, class: 'form-control mt-2', required: true %>
            </li>

            <li class="list-group-item border-0 ps-0 text-sm">
              <strong class="text-dark">Last Name:</strong> &nbsp;
              <%= form.text_field :last_name, class: 'form-control mt-2', required: true %>
            </li>

            <li class="list-group-item border-0 ps-0 text-sm">
              <strong class="text-dark">Email:</strong> &nbsp;
              <%= form.email_field :email, class: 'form-control mt-2', required: true, disabled: Current.user.regular? ? true : false %>
            </li>

            <% if @user.regular? %>
              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">English Level:</strong> &nbsp;
                <%= form.select :english_level,
                                %w[A1 A2 B1 B2 C1 C2].map { |level| [level, level] }.sort,
                                { prompt: 'Pick your level'}, { class: 'form-select' }%>
              </li>

              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">Technical Experience:</strong> &nbsp;
                <%= form.text_area :technical_experience, class: 'form-control' %>
              </li>

              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">Resume Link:</strong> &nbsp;
                <%= form.url_field :resume_link, class: 'form-control' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
